.skill {
  padding: 0 16px 0 16px;
  max-block-size: 220px;
  overflow: hidden;
}

.umbrellaText {
  padding-bottom: 12px;
}

.des {
  padding-bottom: 16px;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
